<h1>Users#show</h1>
<br>
<br>

<h1>    <p>
    
   <%= image_tag @user.icon %> <%= @user.username %>のお気に入りブログ一覧</h1>



<p>メールアドレス: <%= @user.email %></p>


<table>

    
    <% @favorites_pictures.each do | picture | %>
    
    <h2><%= picture.title %></h2>
    <p><%= image_tag @user.icon %><%= picture.content %></p>
    <p><%= picture.created_at %></p>
    <% end %>
    
    
      
</table>
