<h1>画像投稿画面</h1>

<%= form_with(model: @picture, local: true) do |form| %>
  <% if @picture.errors.any? %>
  <div id="error_explantion">
    <h2><%= @picture.errors.count %>件のエラーがあります。</h2>
    <ul>
      
      <% @picture.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
      </ul>
      </div>
      <% end %>
      
  <div class="picture_title">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <p>
  <div class="pictures">
    <%= form.label :image %>
  <%= form.file_field :image, id: :picture_image %>
  <%= form.hidden_field :image_cache %>
</div> 
<p>

  <%= form.submit  "登録する" %>
  
<% end %>
