<!DOCTYPE html>
<html>
  <head>
    <title>Pictureblog</title>
      <!-- normalize.cssの読込 -->
      <link rel="stylesheet" href="normalize.css">
      <%= csrf_meta_tags %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">PictureBrog</a>
		</div>
		
	  <div id="gnavi" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li><%= link_to "ブログ投稿", new_picture_path %></li>
          <li><%= link_to "お気に入り一覧", favorites_path %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
          <li><%= link_to "ログイン", new_user_session_path %></li>
        <% end %>
       <li><%= link_to "画像投稿一覧画面", pictures_path %></li>

        </ul>
			
			<p class="navbar-text navbar-right">ようこそ
			    <% if user_signed_in? %>
  			      <class="navbar-link"><%= current_user.email %></a>さん</p>
  			     <% else %>
  			      <class="navbar-link">ゲスト</a>さん</p>
          <% end %>
		</div>
	</div>
</nav>

        <% if notice %>
          <p class="alert alert-notice"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-error"><%= alert %></p>
        <% end %>
  

  </header>

<div class = "fix-body">
      
    <%= yield %>

</div>  
  <footer>
    <center>
    2018.4.14
    </center>
  </footer>
     
  </body>
  
</html>
